@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background-color: hsl(36, 100%, 99%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Inter'; /*a name to be used later*/
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap'); /*URL to font*/
}

.customFont {
  color:  hsl(236, 13%, 42%);
  font-size: 15px;
  font-weight: 400;
}

.customFont:hover {
  color: hsl(5, 85%, 63%);
}

.customFontP {
  color:  hsl(236, 13%, 42%);
  font-size: 15px;
  font-weight: 400;
}